---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Engineers.SG"
  description="About us"
  publishedAt="March 30 2025"
  heroImage="/engineerssg-logo-text.png"
>
  <p>
    Engineers.SG is a not-for-profit community initiative created to help
    document the Singapore tech and startup scene.
  </p>

  <p>
    Created to answer the question, "where are the engineers in Singapore?",
    Engineers.SG seeks to be the place for anyone to get to know, learn and
    interact with the Singapore tech community. On the site, you can find a
    curated list of videos recording of local tech meetups and events.
  </p>
</Layout>
